.vs/
listings/
objects/
build/
*.uvguix.*
*.uvgui.*
*.uvoptx
*.scvd
*.obj
*.log
*.bak
*.tlog/
*.FileListAbsolute.txt
*.lib.recipe
*.lib
*.pdb
JLinkSettings.ini
JLinkLog.txt
obj/
bin/
.DS_Store
firmare*.map
*.csproj.user
*.exe.config
*.pdb
EventRecorderStub.scvd
